{{> nav}}
<!-- start search bar -->
<div id="search_bar">
    <nav class="navbar navbar-expand-xl navbar-expand-xxl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-sm navbar-light bg-light light-grey">
        <div class="container">
            <div></div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-3">
                        <div class="input-group flex-">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <select class="form-select" aria-label="Default select example">
                            <option selected>Any location</option>
                            <option value="1">Koh Phangan</option>
                            <option value="2">Koh Samui</option>
                            <option value="3">Bali</option>
                        </select> </div>
                    </li>
                    <li class="nav-item me-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <select class="form-select" aria-label="Default select example">
                        <option selected>Any rooms</option>
                        <option value="1">1 room</option>
                        <option value="2">2 rooms</option>
                        <option value="3">3 rooms</option>
                        <option value="4">4 rooms</option>
                        <option value="5">5 rooms</option>
                        </select> </div>
                    </li>
                    <li class="nav-item me-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="number" class="form-control" placeholder="max price" aria-label="max_price" aria-describedby="basic-addon1" min="0" max="10000">
                        </div>
                    </li>
                    <li class="nav-item me-3">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <select class="form-select" aria-label="Default select example">
                        <option selected>Price (low to high)</option>
                        <option value="1">Price (high to low)</option>
                    </select> </div>
                    </li>
                </ul>
                <form class="d-flex gap-3">
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                    <input class="form-control me-2" type="search" placeholder="House name..." aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>

                </form>
            </div>
        </div>
    </nav>
</div>
<!-- end search bar -->
<!-- start results -->
<div class="results">
    <div class="container pt-4">
        <!-- start first row -->
        <div class="row gy-4">

            {{!-- each element --}}
            {{#each houses as |house|}}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3">
                <div class="card w-100" style="width: 18rem;">
                    <img src="{{house.photos.[0]}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{house.location}} &middot; {{house.rooms}} Rooms</h6>
                        <h5 class="card-title">{{house.title}}</h5>
                        <small><i class="fas fa-thumbs-up green"></i> 3 Reviews</small>
                        <small>${{house.price}}/night</small>
                    </div>
                </div>
            </div>
            {{!-- end each element --}}
            {{/each}}
        </div>
        <!-- end first row -->
    </div>
</div>
<!-- end results -->
