{{> nav }}
<!-- start house pictures -->
<div class="house_pics">
    <div class="main_img" style="background-image: url('{{house.photos.[0]}}')"></div>
    <div class="house_thumbnails">
        {{#each house.photos as |photo|}}
            <div class="house_thumbnail" style="background-image: url('{{photo}}'); "></div>
        {{/each}}
    </div>
</div>
<!-- end house pictures -->
<!-- start house description section  -->
<section class="description_section p-4">
    <div class="container">
        <div class="row">

            <div class="col-8">

                <!-- house informations  -->
                <div class="house_description">
                    <h1>{{house.title}}</h1>
                    <i class="fas fa-map-marker-alt green"></i>
                    <small>{{house.location}} &middot; {{house.rooms}} Rooms</small>
                    <!-- host avatar -->
                    <div class="host_avatar mt-lg-2">
                        <div class="avatar_img rounded-circle" style="background-image: url('{{house.host.avatar}}');">
                        </div>
                        <div class="avatar_img m-lg-2">
                            <small>hosted by</small>
                            <h6>{{house.host.name}}</h3>
                        </div>
                    </div>
                    <!-- description -->
                    <p>
                        {{house.description}}
                    </p>
                </div>

                <!-- leave house reviews -->
                <div class="leave_a_review">
                    <h2>0 Reviews</h2>
                    <form action="">
                        <small>Leave a review</small>
                        <textarea class="form-control" aria-label="With textarea" rows="6"></textarea>
                        <div class="votes">
                            <button class="btn btn-outline-success mt-2" type="submit">1</button>
                            <button class="btn btn-outline-success mt-2" type="submit">2</button>
                        </div>
                        <button class="btn btn-success mt-2" type="submit">Submit</button>
                    </form>
                </div>

                <!-- house reviews -->
                <div class="review mt-lg-4 p-3">
                    <!-- guest avatar -->
                    <div class="host_avatar mt-lg-2">
                        <div class="avatar_img circular--square" style="background-image: url('https://randomuser.me/api/portraits/men/11.jpg');">
                        </div>
                        <div class="avatar_img m-lg-2">
                            <small>19 Jan 2022</small>
                            <h6>Riccardo Ferrara</h3>
                        </div>
                    </div>
                    <!-- guest comment -->
                    <p>This place is fantastic! The views are breathtaking and the host is very nice. My family and I had an amazing experience.</p>
                </div>

                <div class="review mt-lg-4 p-3">
                    <!-- guest avatar -->
                    <div class="host_avatar mt-lg-2">
                        <div class="avatar_img circular--square" style="background-image: url('https://randomuser.me/api/portraits/men/11.jpg');">
                        </div>
                        <div class="avatar_img m-lg-2">
                            <small>19 Jan 2022</small>
                            <h6>Riccardo Ferrara</h3>
                        </div>
                    </div>
                    <!-- guest comment -->
                    <p>This place is fantastic! The views are breathtaking and the host is very nice. My family and I had an amazing experience.</p>
                </div>

            </div>

            <!-- send message / book -->
            <div class="col">
                <div class="send_message">
                    <h3>${{house.price}}/night</h3>
                    <small>0 Reviews</small>
                    <form action="">
                        <textarea class="form-control" aria-label="With textarea" placeholder="Send the host a message..." rows="5"></textarea>
                        <button class="btn btn-success mt-2" type="submit">Request Booking</button>
                    </form>
                </div>
            </div>

            <!-- end grid -->
        </div>
        <!-- end container -->
    </div>


</section>